@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables.scss';

html, body {
  min-height: 100vh;
}

body {
  font: 16px verdana;
  color: $color-primary;
  background: #404040;
  min-height: 100%;
}

h2 {
  font: 1.5rem verdana;
  color: $color-accent-blue;
  //background: #066;
  letter-spacing: 1px;
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back {
    color: #ccc;
    display: flex;
    align-items: center;
    svg {
      fill: #c0c0c0;
    }
    &:hover svg {
      fill: #eee;
    }
  }
  }

p {
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
  //transition: letter-spacing .2s;

  &:hover {
  }
}

h2 {
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;
}

.hidden {
  visibility: hidden!important;
}

.invisible {
  display: none!important;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 16px 32px;
}